*{
    margin: 0px;
    padding: 0px;
  

}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:rgba(70, 68, 68, 0.2);
    font-family: 'Poppins', sans-serif;
    opacity: 0.5;
    color: #fff;
  }
.logo{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size:22px ;
}
.navlinks{
    display: flex;
    justify-content:space-around;
    width: 40%;
}
.navlinks li{
    list-style: none;
}
.navlinks a{
    color:#fff;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 15px;

}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color:  rgb(250, 199, 148);
    margin: 5px;
}

@media screen and(min-width:1475px) {
  .cantainer{
    margin-top: 47%
  }
  
}  
@media screen and (min-width:1324px){
  .cantainer{
    margin-top: 37%
  }
  

}
@media screen and (max-width:1024px){
    .navlin4s{
        width:50%;
    }
 
}
@media screen and (max-width:970px) {
  .para{
    display:none;
  }
  .gpcard{
    flex-wrap: wrap;
  }
  .card{
    margin-bottom: 10px;
  }
  /* pip{

  }
   */
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .navlinks{
        display:none ;
        position: absolute;
        left: 0;
        height:92vh;
        top: 8vh;
        background-color:#5D4954;
        flex-direction: column;
        align-items: center;
        width:50%;
        transform: translateZ(100%);
        transition: transform 0.8s ease-in;
    }
    .navlinks li {
        opacity: 1;
    }
    .burger{
        display: block;
    }
    .banner{
      height: 550px;
    }
    .space{
      flex-wrap: wrap;
    }
    .icon1{
      padding-left: 2%;
      padding-right:5% ;
      margin-left: 201%;
      border: none;
    }
}
.nav-active{
  display: flex;
    transform: translateZ(0%);
}
section{
  margin-top: 20%;
}
.slidershow{
    width: 100vw;
    height: 100vh;
     overflow: hidden; 
  }
  .middle{
    margin-bottom: 15%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
  }
  .navigation{
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  
  }
  .bar{
    width: 10px;
    height: 10px;
    border: 2px solid rgb(250, 248, 248);
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 50%;
  }
  .bar:hover{
    background: #fff;
  }
  
  input[name="r"]{
      position: absolute;
      visibility: hidden;
  }
  
  .slides{
    width: 500%;
    height: 100%;
    display: flex;
  }
  
  .slide{
    margin-top:0 ;
    width: 20%;
    transition: 0.6s;
  }
  .slide img{
    width: 100%;
    height: 100%;
    opacity: 0.8;
  }
  
  #r1:checked ~ .s1{
    margin-left: 0;
  }
  #r2:checked ~ .s1{
    margin-left: -20%;
  }
  #r3:checked ~ .s1{
    margin-left: -40%;
  }
  #r4:checked ~ .s1{
    margin-left: -60%;
  }
  #r5:checked ~ .s1{
    margin-left: -80%;
  }

  .risk{
        color: #fff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: black;
        width: 80%;
        position: absolute;
        top: 15%;
        right: 10%;
        text-transform: capitalize;
        height: 65px;
        border-radius: 35px;
        cursor:pointer;

  }
  .chat{
    background-color: #FFFFFF;
  
    width: 50px;
    border: 2px solid #000000;
    padding: 5px;
    font-size: 16px;
    display: none;
    position: absolute;
    top: 25px;
    left: 100px;
  }
  .live_chart{
    width: 15px;
    height: 15px;
  }
.live_chart:hover + .chat{
  display: block;
  color:rgb(141, 68, 68);

}
svg{
  width: 50px;
  height: 50px;
}

.banner{
  height: 125px;
  width: 100vw;
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(247, 203, 60);
position:absolute;
top: 59%;
right: 0%;

}
.space{
  display: flex;
  width: 85%;
  
}
.icon{
  border-left: 1px solid rgb(105, 104, 100);  
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 4%;
  padding-right:0px ;
  margin-left: 5%;
  
}
.none{
  border: none;
}

.icon p{
  padding-left: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

/* sectionwith cards */
.cardsSection{
  width: 98vw;
  height: 100vh;
  position: absolute;
  top: 80%;
  background: #f4f0f02e;
}
.heading2{
  padding: rem;
  text-transform: capitalize;
  font-size: 2.625rem;
  margin: 3% 0% 0% 15%;
}
.heading2 h1{
  font-size: 2.5rem;
  font-weight:  500;
}
.heading2 p{
  font-size: 1.3rem;
  line-height: 2rem;
  color:#727272;
  font-weight: 300;
  width: 73%;

}
.gpcards{
width: 98%;
margin: 0% 0% 0% 0%;
}
.gpcard{
  width: 78%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 6rem;
  margin-left: 6rem;
    position: absolute;
    top: 30%;
}
.card{
  height: 350px;
  width: 250px; ;
}
.Scard{
  background: #f6f7f8 url(https://www.indonez.com/html-demo/Wave/img/in-wave-card-bg-2.png);
  background-position: 55% 30%;
  height: 100%;
  width: 100%;
  line-height: 1;
  padding: rem;
  font-weight: 800;
  display: block;  
  margin: 10px;
  margin-left: 25%;
}
.card h1{
   font-size: 4rem;
   line-height: none;
   margin: 7% ;
  
}
.card p{
  font-weight: 400;
  color: #666;
  margin-left: 8%;
  margin-top: 10%;
}
.fx{
  margin-top:40px;
}
.pip{
  margin-right: 10%;
  margin-bottom: 20px;

}
.join{
  width: 60vw;
margin-left: 11.3rem;
}
.innerJion{
  height: 75px;
  display:inline-flex;
  align-items: center;
  padding: 0% 5%;
  margin-left: 25% ;
  margin-bottom: 2%;
  background: #f8f8f8;
  color: #666;
  border: 1px solid #e8e8e8;
}
.innerJion a{
  color: rgb(247, 203, 60);
}
.contact img{
  width: 50px;
  height: 50px;
  margin-left: 5%;
}
.cantainer{
  display: block;
  margin-top: 30%;
}
.cantacts{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin-left: 15%;  
  }
  .mid{
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    padding-left: 5%;
    padding-right: 5%;
  }
  .market{
    position: absolute;
    top: 190vh;
    width: 99vw;
    height: 90vh;
    display: flex;
    align-items: center;
    background: rgb(236, 235, 235);
  }
  .micon1{
    width: 75PX;
    height: 75PX;
  }
  .micon{
    width: 75PX;
    height: 75PX;
    margin: 10% 0% 0% 25%;
  }
  .miconPara{
    font-weight: 800;
    margin-left: 25%;
  }
  .section_analysis{
    width: 95%;
    padding: 15px;
    display: flex;

  }
  .analysis{
    width: 60%;
    margin-left: 10rem;
    line-height: 1.5;

  }
  .market_heading{
    font-size: 3rem;
    line-height: 1;
    color: rgb(70, 69, 69);
  }
  .marketIcon{
    display: flex;
    align-items: center;
    margin: 3rem 0 0 10rem;

  }
  .marketIcon2{
    margin-left: 1.5rem;
  }
  .marketIcon1,.marketIcon2{
    width: 150px;
    height: 150px;
    border: 1px solid rgb(247, 203, 60);
    border-radius: 1rem;
    
  }
  .video{
  margin-top:3rem ;
  

  }
  .videoImg{
    box-shadow: 13px 15px 0 0 rgb(247, 203, 60);
  width: 600px;
  height: 400px;
  border-radius:7px ;
  }
  .playlogo{
    position: absolute;
    left: 69rem;
    top: 19rem;
  }


  /* next section is package */

.package{
  height: 100vh;
  position: relative;
  top: 280vh;
}
.packageSection{
  display: flex;
  margin: 0 0 0 25%;
  
}
.packageHeading{
  margin: 5% 0 5% 25%;
  font-size: 2rem;
  font-weight: 900;
}
.packageCards2{
  height: 50%;
}
.packageCards{
  border: 1px solid rgb(247, 203, 60) ;
  padding: 5rem;
  line-height: 2;
}